/* .toggleBackground {
  background-color: black;
  color: white;
} */

.header {
  display: inline-flex;
  margin-bottom: 5px;
  flex-direction: row;
}

button {
  display: flex;
  font-size: x-large;
  background-color: green;
  color: white;
  height: 30px;
  margin-top: 15px;
  margin-left: 30 px;
}

h1 {
  display: flex;
  text-align: right;
  font-size: 3rem;
  padding: 0;
  margin-top: 5px;
  margin-bottom: 0;
  margin-left: 700px;
}

.container {
  display: grid;
  height: 100%;
  grid-template-columns: 1.5fr 50px 2fr 50px;
  border: 2px solid black;
}

aside {
  text-align: justify;
  font-size: x-large;
  font-stretch: expanded;
  padding: 10px;
  /* border: 2px solid black; */
}

.imageCarousel {
  display: grid;
  width: 100%;
  margin: 20px auto;
  /* border: 2px solid red; */
}

.imageCarousel > img {
  width: 100%;
  opacity: 1;
}

#prev-button,
#next-button {
  display: inline-block;
  padding: 8px 12px;
  width: auto;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
  outline: none;

  color: inherit;
  font: inherit;

  line-height: normal;
  cursor: pointer;

  /* colors */
  color: white;
  background-color: rgba(0, 0, 0, 0.8);

  /* border */
  border-radius: 50%;
}

#prev-button:hover,
#next-button:hover {
  color: black;
  background: white;
}

/* Positioning */
#prev-button {
  position: absolute;
  top: 25%;
  margin-left: 0px;
}
#next-button {
  position: absolute;
  top: 25%;
  right: 7.5%;
  margin-right: 10px;
}
